@font-face {
  font-family: Pterra, TrueType;
  src: url('~roguefont/pterra.ttf');
}

.theme-azure_default:root {
  --color-base: #000000;
  --color-base-start: #000000;
  --color-base-end: #000000;

  --font-size: 14px;
  --font-family: Pterra, TrueType;
  --color-text: #897472;
  --line-height: 170%;


  /* Semantic colors */ 
  --color-label: #897472;

  // Scrollbar
  scrollbar-color: #7b5353 #000000;

  // Sidebar
  .SideBarDecoration {
    background-image: url('../assets/azure_default/snek.svg');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 128px;
    margin-top: 32px;
  }

  .SideBar {
    background-image: url('../assets/azure_default/columns.svg');
    background-repeat: repeat-y;
    background-size: 64px;

    width: 64px;
    height: 100vh;

    position: fixed;
    z-index: 500;

    pointer-events: none;
    overflow: none;
  }

  // Basics
  .Layout__content {
    background-image: none;

  }

  .TitleBar {
    background-color: #000000;
    border: none;
    box-shadow: none;
    font-size: 14px;

    &__title {
      font-size: 1.6rem;
    }
  }

  .TitleBar__title {
    padding-left: 12px;
    font-size: 14px;
  }

  // Component overrides

  --section-separator-color: #7b5353;

  // Button
  --button-background: #7b5353;
  --button-background-default: #7b5353;
  --button-background-selected: #7b5353;
  .Button {
    margin-bottom: 2px;
    transition: all 0.5s;
  }

  // Input
  --input-border-color: #7b5353;
  --input-border-color-focus: #7b5353;
}

